.shelfs {
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    background-color:#D8463B;
    color:white;
    text-decoration:none;
}